
<div class="row">
	<div class="col-md-12">
	<table class="table">
 <tr>
    <td>First Name</td>
    <td ng-hide="EditFirstname"><%user.user.firstname%></td> 
    <td ng-show="EditFirstname">editing</td>
    <td ng-hide="EditFirstname"><a ng-click="EditFirstname=true" href="" >Edit</a></td>
  </tr>
    <tr>
    <td>Last Name</td>
    <td ng-hide="EditLastname"><%user.user.lastname%></td> 
    <td ng-show="EditLastname">editing..</td>
    <td ng-hide="EditLastname"><a ng-click="EditLastname=true" href="" >Edit</a></td>
  </tr>
    <tr>
    <td>User name</td>
    <td ng-hide="EditUsername"><%user.user.username%></td> 
    <td ng-show="EditUsername">editing..</td>
    <td ng-hide="EditUsername"><a ng-click="EditUsername=true" href="" >Edit</a></td>
  </tr>
  <tr>
    <td>Password</td>
    <td ng-hide="EditUsername"><%user.user.username%></td> 
    <td ng-show="EditUsername">editing..</td>
    <td ng-hide="EditUsername"><a ng-click="EditUsername=true" href="" >Edit</a></td>
  </tr>
  <tr>
    <td>Email</td>
    <td ng-hide="EditUsername"><%user.user.username%></td> 
    <td ng-show="EditUsername">editing..</td>
    <td ng-hide="EditUsername"><a ng-click="EditUsername=true" href="" >Edit</a></td>
  </tr>
   <tr>
    <td>Phones</td>
    <td ng-hide="EditUsername"><%user.user.username%></td> 
    <td ng-show="EditUsername">editing..</td>
    <td ng-hide="EditUsername"><a ng-click="EditUsername=true" href="" >Edit</a></td>
  </tr>
     <tr>
    <td>Adresses</td>
    <td ng-hide="EditUsername"><%user.user.username%></td> 
    <td ng-show="EditUsername">editing..</td>
    <td ng-hide="EditUsername"><a ng-click="EditUsername=true" href="" >Edit</a></td>
  </tr>
	</table>
		
	</div>

</div>

